# Introdução


Olá, seja bem-vinda e bem-vindo ao notebook da **aula 04!** A partir desta aula iremos analisar e discutir um *sample* da base de dados do **ENEM 2018**. Nessa aula vamos falar sobre diversos temas importantes na área de IA, então **acompanhar esses explicações pela videoaula será importante para o seu desenvolvimento**.

#Aula 4

Aqui iremos explorar e conhecer uma pequena amostra da base de dados do **ENEM 2018**. Esse será o primeiro passo para construir os **modelos de machine learning da aula 05**. Se você quiser estudar o código utilizado para criar o dataset desta aula, pode acessar este [**link aqui**](https://github.com/guilhermesilveira/enem-2018).

Vamos iniciar setando a precisão de casas decimais que o pandas irá exibir os dados (`pd.options.display.float_format`), depois lendo e conhecendo as informações contidas na base de dados.

In [ ]:
import pandas as pd

%precision %.2f
pd.options.display.float_format = '{:,.2f}'.format

uri = "https://github.com/guilhermesilveira/enem-2018/blob/master/MICRODADOS_ENEM_2018_SAMPLE_43278.csv?raw=true"
dados = pd.read_csv(uri)
dados.head()

   NU_INSCRICAO  NU_ANO  CO_MUNICIPIO_RESIDENCIA  ... Q025  Q026 Q027
0  180009327796    2018                  2112209  ...    B     A    A
1  180012890374    2018                  3557105  ...    B     D    D
2  180008223824    2018                  2506301  ...    B     A    E
3  180007859645    2018                  3534807  ...    A     B    A
4  180013499517    2018                  3523107  ...    B     A    A

[5 rows x 137 columns]

Conheça todas as colunas do nosso dataframe:

In [ ]:
print(dados.columns.values)

['NU_INSCRICAO' 'NU_ANO' 'CO_MUNICIPIO_RESIDENCIA'
 'NO_MUNICIPIO_RESIDENCIA' 'CO_UF_RESIDENCIA' 'SG_UF_RESIDENCIA'
 'NU_IDADE' 'TP_SEXO' 'TP_ESTADO_CIVIL' 'TP_COR_RACA' 'TP_NACIONALIDADE'
 'CO_MUNICIPIO_NASCIMENTO' 'NO_MUNICIPIO_NASCIMENTO' 'CO_UF_NASCIMENTO'
 'SG_UF_NASCIMENTO' 'TP_ST_CONCLUSAO' 'TP_ANO_CONCLUIU' 'TP_ESCOLA'
 'TP_ENSINO' 'IN_TREINEIRO' 'CO_ESCOLA' 'CO_MUNICIPIO_ESC'
 'NO_MUNICIPIO_ESC' 'CO_UF_ESC' 'SG_UF_ESC' 'TP_DEPENDENCIA_ADM_ESC'
 'TP_LOCALIZACAO_ESC' 'TP_SIT_FUNC_ESC' 'IN_BAIXA_VISAO' 'IN_CEGUEIRA'
 'IN_SURDEZ' 'IN_DEFICIENCIA_AUDITIVA' 'IN_SURDO_CEGUEIRA'
 'IN_DEFICIENCIA_FISICA' 'IN_DEFICIENCIA_MENTAL' 'IN_DEFICIT_ATENCAO'
 'IN_DISLEXIA' 'IN_DISCALCULIA' 'IN_AUTISMO' 'IN_VISAO_MONOCULAR'
 'IN_OUTRA_DEF' 'IN_GESTANTE' 'IN_LACTANTE' 'IN_IDOSO'
 'IN_ESTUDA_CLASSE_HOSPITALAR' 'IN_SEM_RECURSO' 'IN_BRAILLE'
 'IN_AMPLIADA_24' 'IN_AMPLIADA_18' 'IN_LEDOR' 'IN_ACESSO' 'IN_TRANSCRICAO'
 'IN_LIBRAS' 'IN_LEITURA_LABIAL' 'IN_MESA_CADEIRA_RODAS'
 'IN_MESA_CADEIRA_SEPARADA' 'IN_APOIO_PERNA' 'IN_GUIA_INTERPRETE'
 'IN_COMPUTADOR' 'IN_CADEIRA_ESPECIAL' 'IN_CADEIRA_CANHOTO'
 'IN_CADEIRA_ACOLCHOADA' 'IN_PROVA_DEITADO' 'IN_MOBILIARIO_OBESO'
 'IN_LAMINA_OVERLAY' 'IN_PROTETOR_AURICULAR' 'IN_MEDIDOR_GLICOSE'
 'IN_MAQUINA_BRAILE' 'IN_SOROBAN' 'IN_MARCA_PASSO' 'IN_SONDA'
 'IN_MEDICAMENTOS' 'IN_SALA_INDIVIDUAL' 'IN_SALA_ESPECIAL'
 'IN_SALA_ACOMPANHANTE' 'IN_MOBILIARIO_ESPECIFICO'
 'IN_MATERIAL_ESPECIFICO' 'IN_NOME_SOCIAL' 'CO_MUNICIPIO_PROVA'
 'NO_MUNICIPIO_PROVA' 'CO_UF_PROVA' 'SG_UF_PROVA' 'TP_PRESENCA_CN'
 'TP_PRESENCA_CH' 'TP_PRESENCA_LC' 'TP_PRESENCA_MT' 'CO_PROVA_CN'
 'CO_PROVA_CH' 'CO_PROVA_LC' 'CO_PROVA_MT' 'NU_NOTA_CN' 'NU_NOTA_CH'
 'NU_NOTA_LC' 'NU_NOTA_MT' 'TX_RESPOSTAS_CN' 'TX_RESPOSTAS_CH'
 'TX_RESPOSTAS_LC' 'TX_RESPOSTAS_MT' 'TP_LINGUA' 'TX_GABARITO_CN'
 'TX_GABARITO_CH' 'TX_GABARITO_LC' 'TX_GABARITO_MT' 'TP_STATUS_REDACAO'
 'NU_NOTA_COMP1' 'NU_NOTA_COMP2' 'NU_NOTA_COMP3' 'NU_NOTA_COMP4'
 'NU_NOTA_COMP5' 'NU_NOTA_REDACAO' 'Q001' 'Q002' 'Q003' 'Q004' 'Q005'
 'Q006' 'Q007' 'Q008' 'Q009' 'Q010' 'Q011' 'Q012' 'Q013' 'Q014' 'Q015'
 'Q016' 'Q017' 'Q018' 'Q019' 'Q020' 'Q021' 'Q022' 'Q023' 'Q024' 'Q025'
 'Q026' 'Q027']

Na videoaula tivemos uma discussão muito bacana sobre uma visão geral dos dados e sua organização, e sobre ética na IA. Se você não assistiu eu recomendo que veja, não cabe aqui no notebook reproduzir a conversa, então vamos seguir com o  desenvolvimento.


Conhecidas as informações, vamos chamar o **describe()** para analisá-las. Se atente ao detalhe que o **describe** só gera informação de dados numéricos!

In [ ]:
dados.describe()

            NU_INSCRICAO     NU_ANO  ...  NU_NOTA_REDACAO       Q005
count         137,844.00 137,844.00  ...       103,774.00 137,844.00
mean  180,010,423,553.31   2,018.00  ...           509.13       3.90
std         1,918,950.00       0.00  ...           187.01       1.51
min   180,007,186,686.00   2,018.00  ...             0.00       1.00
25%   180,008,761,760.75   2,018.00  ...           360.00       3.00
50%   180,010,373,993.50   2,018.00  ...           520.00       4.00
75%   180,012,032,768.50   2,018.00  ...           620.00       5.00
max   180,014,002,596.00   2,018.00  ...         1,000.00      20.00

[8 rows x 94 columns]

A saída do `describe` traz várias estatísticas, de forma que algumas não fazem sentido ou não nos interessam neste momento.  Entretanto, se você analisou as últimas colunas, viu que lá temos alguns dados relevantes: notas das provas e redação. 

Desafio você a entrar nos detalhes das análises de notas e diversos outros campos! Como nosso tempo aqui é restrito, vamos analisar apenas as notas entre si, mas reflita: Será que existe uma correlação entre as notas? Quem tira notas maiores em redação também vai bem em linguagens?

Vamos analisar!

In [ ]:
colunas_de_notas = ['NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC', 'NU_NOTA_MT', 'NU_NOTA_REDACAO']
dados_notas = dados[colunas_de_notas].dropna()
dados_notas.columns = ['ciencias_naturais', 'ciencias_humanas', 'linguagem_codigo', 'matematica', 'redacao']
dados_notas.head()

   ciencias_naturais  ciencias_humanas  linguagem_codigo  matematica  redacao
1             523.10            671.30            661.60      738.00   680.00
2             409.20            531.70            389.00      438.10   600.00
3             452.30            505.50            448.50      544.90   400.00
6             428.50            505.20            521.00      436.80   560.00
8             491.80            575.70            524.40      487.60   660.00

In [ ]:
len(dados_notas)

97270

Como queremos analisar as notas detalhadamente, no código acima separamos apenas os dados de interesse. Também removemos todos os valores vazios com o `.dropna()` e trocamos os nomes das colunas para ficar mais legível. 

Por fim, agora nosso DF tem 97270 linhas e 5 colunas.

Agora sim, vamos calcular a correlação usando o `.corr()`:

In [ ]:
corr = dados_notas.corr()
corr

                   ciencias_naturais  ciencias_humanas  ...  matematica  redacao
ciencias_naturais               1.00              0.57  ...        0.58     0.51
ciencias_humanas                0.57              1.00  ...        0.53     0.50
linguagem_codigo                0.60              0.70  ...        0.57     0.56
matematica                      0.58              0.53  ...        1.00     0.48
redacao                         0.51              0.50  ...        0.48     1.00

[5 rows x 5 columns]

Temos vários resultados interessantes por aqui: o primeiro é uma correlação considerável entre **linguagem_codigo e ciencias_humanas**, o que parece fazer sentido. Uma correlação que surpreende é entre **linguagem_codigo e redacao**. Embora haja uma correlação maior em relação às outras matérias e redação, eu esperava um valor ainda maior do que o existente. 

**Mais alguma correlação te chama a atenção? **

Eu tenho mais uma análise das correlações em geral! Repare que as correlações com linguagem_codigos sempre são as maiores e isso me faz pensar em várias hipóteses!

Será que se eu estudar mais português vou ter um desempenho melhor nas outras matérias? (lembre-se que o ENEM é uma prova que demanda interpretação de texto, então essa prerrogativa pode fazer sentido).
Será que se eu considerar provas de anos anteriores e comparar as correlações com linguagem_códigos elas serão maiores?

A verdade é que uma simples análise de correlação nos gera diversas hipóteses. **Se tiver curiosidade e quiser fazer essas análises fica como um desafio extra!**

Na videoaula você viu que tentamos plotar diversos gráficos para visualizar a correlação de uma melhor forma. Abaixo seguem os códigos usados: